.folder-structure{
    width: 100%;
    padding:128px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    .folder-structure-content{
        width: 800px;
        img{
            max-width: 100%;
        }
    }
}