.top-navigation {
    width: 100%;
    height: 64px;
    background-color: #fff;
    .navigation-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        height: 100%;
        .back-button {
            border: none;
            background-color: #fff;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            outline: none;
            cursor: pointer;
            .back-image {
                width: 100%;
                height: 100%;
            }
        }
        .icon-wrapper {
            background-color: #fff;
            padding: 8px 8px;
            border-radius: 8px;
            align-items: center;
            display: flex;
            width: 24px;
            height: 24px;
            cursor: pointer;
            .alarm-icon {
                width: 100%;
                height: 100%;
            }
        }
        .text-title {
            color: #9eaab4;
            font-weight: bold;
            font-size: 16px;
            display: flex;
            align-items: center;
        }
    }
}
