:root{
    --p-color: #020f22;
    --sec-color:#2962ff;
    //darker seond color
    --sec-color-d:#003CE0;

    --third-color:#98B3FF;
    --light-grey:#E9EBF8;

    //global font-size
    font-size: 16px;
}