@font-face {
    font-family: Vazir;
    src: url('/app/assets/fonts/Vazir/Vazir-Regular.eot');
    src: url('/app/assets/fonts/Vazir/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
         url('/app/assets/fonts/Vazir/Vazir-Regular.woff2') format('woff2'),
         url('/app/assets/fonts/Vazir/Vazir-Regular.woff') format('woff'),
         url('/app/assets/fonts/Vazir/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('/app/assets/fonts/Vazir/Vazir-Bold.eot');
    src: url('/app/assets/fonts/Vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('/app/assets/fonts/Vazir/Vazir-Bold.woff2') format('woff2'),
         url('/app/assets/fonts/Vazir/Vazir-Bold.woff') format('woff'),
         url('/app/assets/fonts/Vazir/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('/app/assets/fonts/Vazir/Vazir-Black.eot');
    src: url('/app/assets/fonts/Vazir/Vazir-Black.eot?#iefix') format('embedded-opentype'),
         url('/app/assets/fonts/Vazir/Vazir-Black.woff2') format('woff2'),
         url('/app/assets/fonts/Vazir/Vazir-Black.woff') format('woff'),
         url('/app/assets/fonts/Vazir/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('/app/assets/fonts/vazir/Vazir-Medium.eot');
    src: url('/app/assets/fonts/vazir/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
         url('/app/assets/fonts/vazir/Vazir-Medium.woff2') format('woff2'),
         url('/app/assets/fonts/vazir/Vazir-Medium.woff') format('woff'),
         url('/app/assets/fonts/vazir/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('/app/assets/fonts/vazir/Vazir-Light.eot');
    src: url('/app/assets/fonts/vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'),
         url('/app/assets/fonts/vazir/Vazir-Light.woff2') format('woff2'),
         url('/app/assets/fonts/vazir/Vazir-Light.woff') format('woff'),
         url('/app/assets/fonts/vazir/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('/app/assets/fonts/vazir/Vazir-Thin.eot');
    src: url('/app/assets/fonts/vazir/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
         url('/app/assets/fonts/vazir/Vazir-Thin.woff2') format('woff2'),
         url('/app/assets/fonts/vazir/Vazir-Thin.woff') format('woff'),
         url('/app/assets/fonts/vazir/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

html{
    margin: 0;
    width: 100%;
    min-height: 100vh;
	font-size: 16px;
	padding: 0;
	height: 100%;
}
body{
    font-family: "Vazir", Tahoma, sans-serif;
    direction: ltr;
    margin: 0;
    width: 100%;
	padding: 0;
	height: 100%;
	min-height: 100%;
}
.wrapper{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}