@use './general';

html{
    margin: 0;
    width: 100%;
    min-height: 100vh;
	font-size: 16px;
	padding: 0;
	height: 100%;
}
body{
    font-family: "Vazir", Tahoma, sans-serif;
    direction: ltr;
    margin: 0;
    width: 100%;
	padding: 0;
	height: 100%;
	min-height: 100%;
}
.wrapper{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}