.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .loader {
    }
    .title-loader {
        margin-top: 20px;
        .text-loader {
            font-size: 13px;
            font-family: IRANSans;
            font-weight: bold;
            color: rgb(13, 113, 228);
        }
    }
}
