.loading-component {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    .loading-shape {
        width: 56px;
        height: 56px;
        svg {
            width: 100%;
            height: 100%;
            fill: transparent;
            circle {
                stroke: rgb(41, 131, 232);
                stroke-width: 8px;
                stroke-linecap: round;
                stroke-dasharray: 1px 50px;
                animation: loading 1s infinite ease-in-out;
                transform-box: center;
                transform-origin: center;
                @keyframes loading {
                    0% {
                        stroke-dasharray: 1px 50px;
                        transform: rotate(0deg);
                    }
                    50% {
                        stroke-dasharray: 50px 1px;
                        transform: rotate(180deg);
                    }
                    100% {
                        stroke-dasharray: 1px 50px;
                        transform: rotate(359deg);
                    }
                }
            }
        }
    }
}
