@use '../general';
#IndexPage{
    background-color: #edf2f9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .main-wrapper{
        background-color: #fff;
        padding: 32px;
        border-radius: 24px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap:1rem;
        .logo{
            width:120px;
            height: 120px;
            margin: 0 0 32px 0;
        }
        .welcome-text{
            font-size: 1.5em;
            font-variation-settings: "wght" 150;
        }
        jb-button{
            width: 100%;
        }
        a{
            text-decoration: none;
            width: 100%;
        }
    }
}